<div class="home">
    <div class="home__content">
        <div class="home__img">
            <img src="/assets/svg/undraw_medicine_b-1-ol.svg" alt="">
        </div>
        <div class="home__text-info">
            <h1>Objetivos de Desenvolvimento Sustentável (ODS 3)</h1>

            <!-- ngIf para exibir os códigos e indicadores do ODS 3 -->
            <!-- ao clicar no card abre uma tela com as metricas do indicador escolhido -->
            <div class="home__cards">
                <div class="home__card">
                    <h2>titulo</h2>
                    <p>código</p>
                </div>
                <div class="home__card">
                    <h2>titulo</h2>
                    <p>código</p>
                </div>
                <div class="home__card">
                    <h2>titulo</h2>
                    <p>código</p>
                </div>
            </div>
        </div>
    </div>
</div>